span.a{
display:inline;
border:5px solid blue;
padding:25px;
margin:100px;
background-color:yellow;
}

span.b{
display:inline-block;
width:25%;
height:25%;
border:5px solid blue;
padding:25px;
margin:100px;
background-color:yellow;
}

span.c{
display:block;
width:50%;
height:25%;
border:5px solid blue;
padding:25px;
margin:100px;
background-color:yellow;
}

p.ex1{
dispaly:none;
margin:20px;
}

p.ex2{
display:inline;
height:30px;
width:30px;
margin:20px;
}

p.ex3{
display:block;
margin:20px;
}

p.ex4{
display:inline-block;
width:5px;
margin:20px;
}
